body {
}

main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

input[type="radio"] {
  margin-right: 2px;
}

form#radio-buttons {
  padding-top: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
}

form#radio-buttons label {
  margin-top: 10px;
}
