body {
}

main {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#chart1 {
}

form#radio-buttons {
  padding-top: 130px;
  width: 85px;
  display: flex;
  flex-direction: column;
}

form#radio-buttons label {
  margin-top: 10px;
}
